h1 {
    color:rgb(91, 72, 72);
}
.container{
    display: flex;
   flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: darkgray;
}
.max{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.box1 {
   margin-top: 20px;
    width: 300px;
    height: 500px;
    border: 2px solid rgb(214, 214, 203);
    border-radius: 20px;
    text-align: center;
}
.box2 {
    
    margin-top: 20px;
    width: 300px;
    height: 500px;
    border: 2px solid rgb(214, 214, 203);
    border-radius: 20px;
    text-align: center;
}
.box3 {
   
    margin-top: 20px;
    width: 300px;
    height: 500px;
    border: 2px solid rgb(214, 214, 203);
    border-radius: 20px;
    text-align: center;
}
.box4 {
    margin-top: 20px;
    width: 300px;
    height: 500px;
    border: 2px solid rgb(214, 214, 203);
    border-radius: 20px;
    text-align: center;
}
.box5 {
    margin-top: 20px;
    width: 300px;
    height: 500px;
    border: 2px solid rgb(214, 214, 203);
    border-radius: 20px;
    margin-top: 10px;
    text-align: center;
}
.box6 {
    margin-top: 20px;
    width: 300px;
    height: 500px;
    border: 2px solid rgb(214, 214, 203);
    border-radius: 20px;
    margin-top: 10px;
    text-align: center
}
.box7 {
    margin-top: 20px;
    width: 300px;
    height: 500px;
    border: 2px solid rgb(214, 214, 203);
    border-radius: 20px;
    margin-top: 10px;
    text-align: center;
}
.box8 {
    margin-top: 20px;
    width: 300px;
    height: 500px;
    border: 2px solid rgb(214, 214, 203);
    border-radius: 20px;
    margin-top: 10px;
    text-align: center;
}
.big{
    background-image:"./assets1/Jai Shree Ram 🌤️🏹.jpg";
}
#g1,#g2,#g3,#g4{
    height: 400px;
    width: 300px;
   border-radius: 20px;
}
p{
    color: #221e18;
 
    font-family:Georgia, 'Times New Roman', Times, serif;
}